<<<<<<< HEAD
/* ----certification---- */


.certification-container {
    height: 100%;
}

.certification-container .section-top{
    height: 30%;
}

.certification-container .section-middle{
    height: 70%;

}

.certification-container .title-wrapper {
    margin-bottom: 1vw;
}

.certification-container .col {
    align-items: flex-start;
}


/* -----------certification-container2----- */

.section-2-1 {
    height: 100vh;
}

.certification-container2 {
    height: 100%;
}

.certification-container2 .section-middle {
    height: 100%;
    width: 100%;
    padding: 3% 0;

}

.certification-container2 .title-wrapper {
    margin-bottom: 1.5vw;
}

.certification-container2 .content-wrapper {
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: flex-start;
}



.certification-container2 .section-middle .content-wrapper {
    align-items: normal;
    padding: 0 4vw;
    margin-bottom: 10%;
}


.certification-container2 .section-middle .col-1 {
    position: relative;
    margin-right: 0;
}


.certification-container2 .section-middle .year-table {
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.certification-container2 .section-middle .vertical-line {
    z-index: 0;
    position: absolute;
    border: 1% solid #548687;
    background: #548687;
    height: 100%;
    width: 8%;
    left: 33%;
}

.certification-container2 .section-middle .year-cell{
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.certification-container2 .section-middle .year-item {
    border-radius: 50%;
    background-color: white;
    color: #548687;
    border: 2px solid #548687;
    padding: 1.5vw 0;
    font-size: 1.5vw;
    text-align:center;
    width: 5vw;
    /* margin-bottom: 75%;  */
}

.certification-container2 .section-middle .horizonal-line {
    border: 0.1vw solid #548687;
    background: #548687;
    width: 2vw;
}

.certification-container2 .year-cell:last-child{
    margin-bottom: 0; 
}

.certification-container2 .section-middle .col-2 {
    justify-content: space-between;
    padding: 1.8vw 0 1.5vw;
    margin: 0 3vw 0 1vw;
}

.certification-container2 .section-middle .col-3 {
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.2vw 0 0;
}

.certification-container2 .section-middle .content-box {
    flex: 0.2;
}

.certification-container2 .section-middle .horizonal-line-blue {
    width: 100%;
    border: 1px solid #548687;
}


/* ---------index-container------- */

.index-container {
    height: 100%;
}

.index-container .section-top {
    height: 10%;
}

.index-container .section-middle {
    height: 90%;
    display: flex;
    align-items: center;
}

.index-container .section-middle .inner-container{
    width: 100%;
}

.index-container .section-middle .title-wrapper{
    display: flex;
    align-items: center;
}


.index-container .title-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}



/* -------index-container2----- */

.index-container2 {
    height: 100%;
}


.index-container2 .section-middle {
    /* padding: 14vw 0; */
    height: 100%;
    display: flex;
    align-items: center;
}

.index-container2 .section-middle {
    padding-bottom: 0;
}

.index-container2 .section-middle .inner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.index-container2 .section-middle .content-wrapper {
    display: flex;
    justify-content: center;
}

.index-container2 .section-middle .num{
    display: inline-block;
    margin-right: 1vw;
}

.index-container2 .content-wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.index-container2 .content-wrapper .col span{
    white-space:nowrap;
}


.index-container2 .content-wrapper .col .row {
    margin-bottom : 0;
}


.index-container2 .content-wrapper .col-1 .row {
    margin-bottom: 2vw;
    width: 100%;
}



.index-container2 .content-wrapper .content-block:hover {
    cursor: pointer;
}
=======
/* ----certification---- */


.certification-container {
    height: 100%;
}

.certification-container .section-top{
    height: 30%;
}

.certification-container .section-middle{
    height: 70%;

}

.certification-container .title-wrapper {
    margin-bottom: 1vw;
}

.certification-container .col {
    align-items: flex-start;
}


/* -----------certification-container2----- */

.section-2-1 {
    height: 100vh;
}

.certification-container2 {
    height: 100%;
}

.certification-container2 .section-middle {
    height: 100%;
    width: 100%;
    padding: 3% 0;

}

.certification-container2 .title-wrapper {
    margin-bottom: 1.5vw;
}

.certification-container2 .content-wrapper {
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: flex-start;
}



.certification-container2 .section-middle .content-wrapper {
    align-items: normal;
    padding: 0 4vw;
    margin-bottom: 10%;
}


.certification-container2 .section-middle .col-1 {
    position: relative;
    margin-right: 0;
}


.certification-container2 .section-middle .year-table {
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.certification-container2 .section-middle .vertical-line {
    z-index: 0;
    position: absolute;
    border: 1% solid #548687;
    background: #548687;
    height: 100%;
    width: 8%;
    left: 33%;
}

.certification-container2 .section-middle .year-cell{
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.certification-container2 .section-middle .year-item {
    border-radius: 50%;
    background-color: white;
    color: #548687;
    border: 2px solid #548687;
    padding: 1.5vw 0;
    font-size: 1.5vw;
    text-align:center;
    width: 5vw;
    /* margin-bottom: 75%;  */
}

.certification-container2 .section-middle .horizonal-line {
    border: 0.1vw solid #548687;
    background: #548687;
    width: 2vw;
}

.certification-container2 .year-cell:last-child{
    margin-bottom: 0; 
}

.certification-container2 .section-middle .col-2 {
    justify-content: space-between;
    padding: 1.8vw 0 1.5vw;
    margin: 0 3vw 0 1vw;
}

.certification-container2 .section-middle .col-3 {
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.2vw 0 0;
}

.certification-container2 .section-middle .content-box {
    flex: 0.2;
}

.certification-container2 .section-middle .horizonal-line-blue {
    width: 100%;
    border: 1px solid #548687;
}


/* ---------index-container------- */

.index-container {
    height: 100%;
}

.index-container .section-top {
    height: 10%;
}

.index-container .section-middle {
    height: 90%;
    display: flex;
    align-items: center;
}

.index-container .section-middle .inner-container{
    width: 100%;
}

.index-container .section-middle .title-wrapper{
    display: flex;
    align-items: center;
}


.index-container .title-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}



/* -------index-container2----- */

.index-container2 {
    height: 100%;
}


.index-container2 .section-middle {
    /* padding: 14vw 0; */
    height: 100%;
    display: flex;
    align-items: center;
}

.index-container2 .section-middle {
    padding-bottom: 0;
}

.index-container2 .section-middle .inner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.index-container2 .section-middle .content-wrapper {
    display: flex;
    justify-content: center;
}

.index-container2 .section-middle .num{
    display: inline-block;
    margin-right: 1vw;
}

.index-container2 .content-wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.index-container2 .content-wrapper .col span{
    white-space:nowrap;
}


.index-container2 .content-wrapper .col .row {
    margin-bottom : 0;
}


.index-container2 .content-wrapper .col-1 .row {
    margin-bottom: 2vw;
    width: 100%;
}



.index-container2 .content-wrapper .content-block:hover {
    cursor: pointer;
}
>>>>>>> 4c1bc80c1462ac7c2441fe49011a283734c83742
