.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background: #7b9acc;
}

.menu-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    margin-right: 2rem;
}