* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  font-family: 'Jua', sans-serif;
}

#wide {
  display: none;
}

*[class*="hidden"] {
  visibility: hidden;
}

section {
  height: 90vh;
}

div[class|="colorItem"] {
  padding: 0 2vw;
  text-align: center;
  border-radius: 25px;
  margin-right: 0.1vw;
  width: 10vw;
  font-size: 2vw;
}

div[class="colorItem-black"] {
  background: black;
  color: white;
}

div[class="colorItem-white"] {
  background: white;
  color: black;
}

div[class="colorItem-mint"] {
  background: #3dbfef;
  color: white;
}

div[class="colorItem-grey"] {
  background: #7f7f7f;
  color: white;
}

img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr[class*="lightMint"] {
  min-width: 100%;
  border: 1px solid #77AF9C;
}

hr[class*="white"] {
  min-width: 100%;
  border: 1px solid #fcf6f5;
}

#copyBox {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inner-container {
  padding: 0 5%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index-wrapper {
  padding: 5% 0;
}

.section-top[class*="lightMint"],
.section-middle[class*="lightMint"],
.section-bottom[class*="lightMint"] {
  background-color: #77AF9C;
}

.section-top {
  height: 10%;
  margin: 0;
  padding: 0;
}

.section-middle {
  height: 100%;
  padding: 0;
}

.section-bottom {
  padding: 0;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
=======
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 4c1bc80c1462ac7c2441fe49011a283734c83742
}

.vertical-line-thin {
  border: 0.1px solid #77AF9C;
  background: #77AF9C;
  height: 160px;
  width: 0.1px;
  margin-bottom: 10px;
}

.link-button {
  display: inline-block;
  margin-top: 1vw;
  border: none;
  border-radius: 15px;
  background: lightgray;
  color: black;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5vw 1.2vw;
}

.link-button:hover {
  background: lightgray;
}

.link-button:active {
  background: #77AF9C;
  color: white;
}

.copy-button {
  cursor: pointer;
  color: #777676;
  font-size: 2vw;
}

.front, .left, .right {
  z-index: -1;
}

.back {
  z-index: -50;
}

/* font-style */
*[class*="title-bold"] {
  font-size: 2.8vw;
}

*[class*="text-S"] {
  font-size: 2.8vw;
}

*[class*="text-s"] {
  font-size: 2vw;
}

*[class*="M"] {
  font-size: 4vw;
}

<<<<<<< HEAD
.row [class*="text-S"] {
  font-size: 4vw;
  font-weight: 200;
}

=======
>>>>>>> 4c1bc80c1462ac7c2441fe49011a283734c83742
*[class*="L"] {
  font-size: 8vw;
}

*[class*='bold'] {
  font-weight: bolder;
}

*[class*='thin'] {
  font-weight: lighter;
}

*[class*='text-title-default'] {
  font-weight: 600;
}

*[class*='default'] {
  font-weight: 300;
}

<<<<<<< HEAD
/* [text-color-table]
    ~ default(black) : #404040,
    ~ gray(desc) : #777676,
    ~ grey(block) : #7f7f7f,
    ~ lightMint: #77AF9C,
    ~ mint: #548687,
    ~ lightmint(block): #3dbfef,
=======
/* [text-color-table]
    ~ default(black) : #404040,
    ~ gray(desc) : #777676,
    ~ grey(block) : #7f7f7f,
    ~ lightMint: #77AF9C,
    ~ mint: #548687,
    ~ lightmint(block): #3dbfef,
>>>>>>> 4c1bc80c1462ac7c2441fe49011a283734c83742
    ~white: #fcf6f5 */
*[class*="text-title-bold"] {
  color: #404040;
}

*[class*="lightMint"] {
  color: #77AF9C;
}

*[class*="white"] {
  color: #fcf6f5;
}

*[class*="mint"] {
  color: #548687;
}

*[class*="desc"] {
  color: #777676;
}
/*# sourceMappingURL=common.css.map */