/* ----common----- */
.half-half .section-middle {
    padding: 0;
}

.half-half .section-bottom {
    padding:0;
}

/* ----certification---- */
.certification-container .section-top {
    padding-top: 0;
}

.certification-container .section-middle .col-1 {
    margin-right: 2vw;
}


.certification-container .title-wrapper {
    margin-bottom: 5vw;
}

.certification-container .col {
    align-items: flex-start;
}

.certification-container .section-middle {
    padding-top: 30vw;
}


/* ----certification-container2---- */

.certification-container2 .section-middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification-container2 .section-middle .inner-container{
    height: 70%;
}


.certification-container2 .title-wrapper {
    margin-bottom:5vw;
}

.certification-container2 .article-row-1 {
    margin-bottom: 30%;
}


.certification-container2 .content-wrapper {
    align-items: initial;
    margin-left: 5%;
}

.certification-container2 .col-1 {
    width: 25%;
    margin-right: 1vw;
}


.certification-container2 .col-2 {
    justify-content: space-between;
    padding: 1.8vw 0 1.5vw;
    margin: 0 3vw 0 1vw;
}

.certification-container2 .col-3 {
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.8vw 0 1.5vw;
}

.certification-container2 .col-3 p{
    font-size: 3vw;
}

.certification-container2 .content-box {
    flex: 0.22;
}

.certification-container2 .content-box *[class*="M"]{
    font-size: 2.5vw;
    white-space: none;
}

.certification-container2 .horizonal-line-blue {
    width: 100%;
    margin: 0.3vw 0 0.5vw;
    border: 1px solid #548687;
}

.certification-container2 .content-wrapper-white {
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: flex-start;
}


.certification-container2 .section-middle .col-1-white {
    position: relative;
    margin-right: 0;
}


.certification-container2 .section-middle .year-table {
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.certification-container2 .section-middle .vertical-line {
    z-index: 0;
    position: absolute;
    border: 1% solid #548687;
    background: #548687;
    height: 100%;
    width: 8%;
    left: 33%;
}

.certification-container2 .section-middle .year-cell{
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}

.certification-container2 .section-middle .year-item {
    border-radius: 50%;
    background-color: white;
    color: #548687;
    border: 2px solid #548687;
    padding: 20% 4%;
    width: 100%;
    font-size: 60%;
    text-align:center;
    /* width: 5vw; */
    /* margin-bottom: 75%;  */
}

.certification-container2 .section-middle .horizonal-line {
    border: 0.1vw solid #548687;
    background: #548687;
    width: 2vw;
}

.certification-container2 .year-cell:last-child{
    margin-bottom: 0; 
}



.certification-container2 .section-middle .content-box {
    flex: 0.2;
}

.certification-container2 .section-middle .horizonal-line-blue {
    width: 100%;
    border: 1px solid #548687;
} */

/* -----section3----index-container1------ */

.index-container {
    height: 100%;
}

.index-container .section-top {
    height: 10%;
}
.index-container .section-middle {
    height: 90%;
    display: flex;
    align-items: center;
}

.index-container .section-middle .inner-container{
    width: 100%;
}

.index-container .title-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center
}



/* ---index-container2----- */

.index-container2 .section-middle {
    height: 100%;
}


.index-container2 .section-middle {
    height: 100%;
    display: flex;
    align-items: center;
}

.index-container2 .section-middle {
    padding-bottom: 0;
}

.index-container2 .section-middle .inner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.index-container2 .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}

.index-container2 .content-wrapper .num{
    margin-right: 1.5vw;
}

.index-container2 .content-wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 85%
}

.index-container2 .content-wrapper .col span{
    white-space:nowrap;
    font-size: 2.2vw;
}

.index-container2 .content-wrapper .col .row {
    margin-bottom : 2vw;
    width:100%;
}

/* .index-container2 .content-wrapper .content-block span{
    white-space:nowrap;
    font-size: 2.2vw;
} */


.index-container2 .content-wrapper .content-block:hover {
    cursor: pointer;
}


