.header-container{
    position: fixed;
    width: 100%;
    padding: 4vw 6vw 4vw 2vw;
    box-sizing: border-box;
    background: #77AF9C;
    z-index: 1000;


    .menu-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .menu {
            padding: 0.3vw 2vw;
            width: 10vw;


            .submenu {
                position: absolute;
                padding: 1.5vw 1vw;
                background: #77AF9C;
                display: none;
            }
            
            .submenu .subItem {
                margin-top: 2vw;
            }
            
            .submenu .subItem:first-child {
                margin-top: 0;
            }
            
            
            .submenu .subItem:hover {
                font-weight: 800;
            }
            
        }
        
        .menu:last-child {
            margin-right: 6vw;
        }
        
        
        .menu:hover > a{
            font-weight: 800;
        }
        
        .menu:hover .submenu {
            position: absolute;
            display: block;
        }
    }


}



