.header-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 2vw 2vw;
    box-sizing: border-box;
    background: #7b9acc;
}

.menu-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    margin-right: 3vw;
}
