/* ------common------ */
.portfolio-container {
  padding: 0;
  height: 100%;
}

.portfolio-container .wide {
  display: none;
}

.portfolio-container .section-middle {
  height: 90%;
  padding-bottom: 0;
}

.portfolio-container .section-middle .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6vw;
}

.portfolio-container .section-middle .title-wrapper .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-container .section-middle .vertical-line-thick {
  border: 0.1vw solid #548687;
  background: #548687;
  height: 7vw;
  width: 1vw;
  margin-right: 3vw;
}

.portfolio-container .section-bottom {
  padding: 0;
  height: 45%;
}

.portfolio-container .desc-wrapper {
  margin-bottom: 5vw;
}

.portfolio-container .spec-wrapper {
  margin-bottom: 0;
}

.portfolio-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.portfolio-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.portfolio-container .img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-container .img-wrapper .front {
  width: 55vw;
}

.portfolio-container .img-wrapper .back {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65vw;
}

.portfolio-container .img-wrapper .left {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

.portfolio-container .img-wrapper .right {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

/*----------------------------------------*/
/*--------------custom--------------------*/
.portfolio1 br {
  display: none;
}

.portfolio1 .section-middle {
  height: 30%;
}

.portfolio1 .section-middle .row {
  margin: 0;
}

.portfolio1 .section-middle .row-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.portfolio1 .section-middle .desc-wrapper {
  word-break: break-word;
  width: 33vw;
  margin-bottom: 1vw;
}

.portfolio1 .section-middle .spec-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio1 .section-middle .spec-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio1 .section-middle .spec-wrapper .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-1 {
  margin-right: 2vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 {
  width: 35vw;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-1 > .row {
  margin-bottom: 2.6vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 {
  margin-right: 0;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 > .row {
  margin-bottom: 1.5vw;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 .col-1-2-2-1 {
  margin-right: 1vw;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 .col-1-2-2-1 * {
  margin-bottom: 1vw;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 .col-1-2-2-2 {
  margin-right: 0.5vw;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 .col-1-2-2-2 * {
  margin-bottom: 0.1rem;
}

.portfolio1 .section-middle .spec-wrapper .col-1-2-2 .col-1-2-2-3 * {
  margin-bottom: 0.1rem;
}

.portfolio1 .section-middle .spec-wrapper .row-1-2-2-1,
.portfolio1 .section-middle .spec-wrapper .row-1-2-2-2 {
  display: block;
}

.portfolio1 .section-bottom .img-wrapper {
  padding: 10% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio1 .section-bottom .img-wrapper .left {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  margin-right: 5%;
}

.portfolio1 .section-bottom .img-wrapper .right {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.portfolio2 .row {
  margin-bottom: 2vw;
}

.portfolio2 .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio2 .col {
  margin-right: 3vw;
}

.portfolio2 [class*="colorItem"] {
  margin-right: 0.5vw;
}

.portfolio2 .img-wrapper {
  padding: 15% 0;
}

.portfolio2 .img-wrapper .front {
  width: 60%;
  padding-left: 5%;
}

.portfolio2 .img-wrapper .back {
  top: 0;
  right: 8%;
  width: 55%;
}

.portfolio3 .col .row {
  margin-bottom: 2vw;
}

.portfolio3 .section-middle .col-1 {
  margin-right: 2vw;
}

.portfolio3 .section-middle .img-wrapper {
  padding-top: 7%;
}

.portfolio3 .section-middle .img-wrapper .front {
  width: 75%;
}

.portfolio3 .section-middle .img-wrapper .front .origin-wrapper {
  position: absolute;
  left: 3%;
  bottom: 8%;
}

.portfolio3 .section-middle .img-wrapper .back {
  bottom: 0%;
  right: 5%;
  width: 50%;
}

.portfolio4 .col .row {
  margin-bottom: 2vw;
}

.portfolio4 .col-1 {
  margin-right: 2vw;
}

.portfolio4 .section-middle .img-wrapper {
  padding-top: 3%;
}

.portfolio4 .section-middle .img-wrapper .front {
  width: 70%;
}

.portfolio4 .section-middle .img-wrapper .front .origin-wrapper {
  position: absolute;
  left: 2%;
  bottom: 6%;
}

.portfolio4 .section-middle .img-wrapper .back {
  bottom: 0%;
  right: 5%;
  width: 50%;
}

.portfolio5 .section-middle {
  height: 90%;
}

.portfolio5 .section-middle .col .row {
  margin-bottom: 2vw;
}

.portfolio5 .section-middle .top {
  height: 50%;
}

.portfolio5 .section-middle .top .spec-wrapper {
  padding-top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.portfolio5 .section-middle .top .spec-wrapper .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio5 .section-middle .top .spec-wrapper .row-1 .col-1-1 {
  margin-right: 2vw;
}

.portfolio5 .section-middle .top .spec-wrapper .row-1 .col-1-2 {
  width: 45vw;
}

.portfolio5 .section-middle .bottom {
  height: 50%;
}

.portfolio5 .section-middle .bottom .img-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.portfolio5 .section-middle .bottom .img-wrapper .img {
  position: absolute;
  width: 55%;
  top: -10%;
  right: -5%;
}

.portfolio5 .section-middle .bottom .img-wrapper .origin-wrapper {
  position: absolute;
  left: 2%;
  bottom: 0;
}
/*# sourceMappingURL=portfolio.css.map */